* {
    padding: 0;
    margin: 0;
}

.forgotPassword {
    background: url(../img/login1.jpg) no-repeat center;
    display: flex;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    justify-content: flex-end;
    padding-right: 100px;
}

.boxForgot {
    border: 1px solid #cecece;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgb(165 165 165 / 50%);
    margin-top: 250px;
    height: 150px;
}

.boxEmail {
    height: 70px;
    display: flex;
    align-items: center;
}

.boxForgotInput {
    height: 40px;
    width: 340px;
    font-size: 20px;
    padding-left: 10px;
}

.forgotPasswordEmail {
    font-size: 26px;
}

.boxEmailBtn {
    height: 40px;
    width: 100%;
    background-color: #cecece;
    border: none;
    font-size: 22px;
}